.modal_background{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--color-dark);
}
.modal_btn{
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: absolute;
  right: 30px;
  top: 15px;
  color: var(--color-background-light);
}
