._abl-:hover ._abl_ {
    display: none;
}
._abm0 {
    align-items: center;
    display: flex;
    justify-content: center;
}

._abl_ {
    display: block;
}

._ae1h, ._ae2q {
    background-color: rgb(var(--ig-secondary-background));
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    position: relative;
}
._aalv {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}
