*::-webkit-scrollbar {
  width: 15px; /* scroll width */
}

*::-webkit-scrollbar-thumb {
  height: 30%; /* scrollbar height*/
  background: #DBDBDB; /* scrollbar color */
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: none; /*scollbar background color*/
}

.cardMainAll {
    margin-top: 100px;
    border: none;
}

.miniCard {

}