/* mypage myprofile============================================================ */

.cardMyPageAll {
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  max-width: 975px;
  width: 100%;
}

.contianProfile {
  position: absolute;
  top: 30%;
  
}

.wrapProfile {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.wrapImgProfile {
  max-width: 291px;
  max-height: 284px;
  width: 291px;
  height: 284px;
  display: flex;
  align-items: center;
  margin :10px;
}

.imgProfile {
  width: 166px;
  height: 166px;
  display: inline;
  cursor: pointer;

}

.expProfile {
  display: inline-flexbox;
  align-items: center;
}

.nameProfile {
  display: inline-block;
  height: 48px;
  margin-bottom: 10px;
}

.fixMyInfo {
  display: inline-block;
  font-size: var(--font-14);
  border: 0.5px solid  var(--color-line);
  border-radius: 7px;
  margin-bottom: 10px;
}


/* mypage myalbum ============================================================= */




